.parent {
    display: flex;
    flex-wrap: wrap;
    /* width: 100vw;
    height: 100vh; */
    
}

.child {
    width: calc(33% - 10px);
    height: 100px;
    background-color: blue;
    margin-left: 10px;
    margin-top: 10px;
}

/* @media (min-width: 640px) {
    .child {
        width: calc(25% - 10px);
    }
}

@media (min-width: 940px) {
    .child {
        width: calc(20% - 10px);
    }
} */